@model Timetabling06.ModelViews.ModuleDepartment

@{
    ViewBag.Title = "Create New Request";
}


<div class="container">
    <div class="row">
        <div class="col-*-*"></div>
    </div>
    <div class="row">
        <div class="col-md-2 grid-view">
            <select id="roundsChoice">
                @foreach(var item in Model.rounds){
                    <option id="@item.roundID">
                        @if (item.roundNo == 0)
                        {
                           @: AdHoc Round - Semester @item.semester - 
                           if(item.semester==1){
                                @item.year@:/@item.year+1
                           }
                           else { 
                               var firstYear = item.year-1;
                             @firstYear@:/@item.year
                           }
                        }
                        else { 
                            @item.year @item.semester
                        }
                        
                    </option>
                 }
            </select>
</div>
        <div class="col-md-5 grid-view">Test</div>
        <div class="col-md-4 grid-view">Test</div>
    </div>
    <div class="row">
    </div>
</div>