@model Timetabling06.ModelViews.HomeModel

@{
    ViewBag.Title = "Home";
}
<div id="pageContent">
    <div id="loggedInAs"><table id="topBanner" style="width:100%;"><tr><td style="width:33%; text-align:left;"><h4>Logged In As: @Model.user.name</h4></td><td style="width:33%; text-align:center;"><h4>New Responses (@Model.unseenRequests)</h4></td><td style="width:33%; text-align:right;"><h4>@Html.ActionLink("Log Out", "Index", "Home")</h4></td></tr></table></div>

    @Html.ActionLink("Archive", "Index", "Archive", new { user = Model.user.ToString() }, null)
    @Html.ActionLink("Rooms", "Index", "Rooms", new { user = Model.user.ToString() }, null)<br />

<div>
       
         @using (Html.BeginForm("HandleForm", "timetabler"))
    
   {
    Html.Encode(ViewData["message"]);


    //Select Park
     @Html.DropDownList("park", String.Empty); 

   // Select Building
    @Html.DropDownList("building", String.Empty); 

   // Select Room
     @Html.DropDownList("roomNumber", String.Empty); 

       // Select Week
   @Html.DropDownList("Weeks", new SelectList(new[] { "Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7", "Week 8", "Week 9", "Week 10", "Week 11", "Week 12" })); 

    <input type="submit" value="Submit" />
     }
        
    <a href="~/Views/Timetabler/show.cshtml">show page</a>
    
        <table border="1">
            <tr>
                <td></td>
                <td>09:00-10:00</td>
                <td>10:00-11:00</td>
                <td>11:00-12:00</td>
                <td>12:00-13:00</td>
                <td>13:00-14:00</td>
                <td>14:00-15:00</td>
                <td>15:00-16:00</td>
                <td>16:00-17:00</td>
                <td>17:00-18:00</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
 
 </div>
 
 /*add this section to a new view called formresults, i couldnt get it to work on github
 
 
@{
    ViewBag.Title = "FormResults";
}



<h2>FormResults</h2>
<p>
    Park Selected: <b> @Html.Encode(ViewData["park"])</b>
</p>
<p>
    Building Selected: <b>@Html.Encode(ViewData["building"])</b>
</p>
<p>
    Room Selected: <b>@Html.Encode(ViewData["roomNumber"])</b>
</p>
<p>
    Week Selected: <b> @Html.Encode(ViewData["weeks"])</b>
</p>
*/
