@model Timetabling06.Models.round

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>round</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roundNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roundNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semester1.semester1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semester1.semester1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roundID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
