@model IEnumerable<Timetabling06.Models.round>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roundNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester1.semester1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roundNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester1.semester1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.roundID }) |
            @Html.ActionLink("Details", "Details", new { id=item.roundID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.roundID })
        </td>
    </tr>
}

</table>
